@charset "UTF-8";

.form {
  background: black;
  display: block;
  width: 650px !important;
  height: 100%;
  padding: 20px 17px;
}

.form .fancybox-button {
  display: none;
}

.form-inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border: 1px solid #BA975C;
  padding: 0 144px 0 113px;
}

.form-inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 12rem;
  font-family: "TT Firs Neue";
}

#mainForm_done .form-inner form {
  padding-top: 0;
  padding-bottom: 0;
}

.main-form__label {
  margin-bottom: 3.7rem;
  font-weight: 300;
  font-size: 4.6rem;
  line-height: 1.3em;
  color: #BA975C;
  text-transform: uppercase;
}

.main-form__text {
  margin-bottom: 4.6rem;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.3em;
  color: #BA975C;
}

.main-form__input {
  margin-bottom: 2.7rem;
  padding: 2.1rem 2.3rem;
  border: 1px solid #D7A250;
  border-radius: 64px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.main-form__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.main-form__input::-moz-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.main-form__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.main-form__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.main-form__input::placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.main-form__input:focus,
.main-form__input:enabled {
  border: 1px solid #D7A250;
  border-color: 0;
  outline: 0;
}

.main-form__btn {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 2.1rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: 0.165em;
  color: #090909;
  background: #BA975C;
  border-radius: 64px;
}

.main-form__terms {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.3em;
  color: #BA975C;
}

.main-form__close {
  height: 6rem;
  width: 6rem;
  position: absolute;
  right: 4rem;
  top: 3.5rem;
  cursor: pointer;
}

.preload {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  background: #000000;
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  max-height: 0;
}

.preload-active {
  max-height: 100vh;
}

.header__left-menu {
  height: 100vh;
  width: 0%;
  padding-top: calc(52px + 5em);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
  overflow: auto;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__left-menu::-webkit-scrollbar {
  display: none;
}

.header__left-menu__opened {
  width: 50%;
}

.header__left-menu__wrap {
  padding: 7.5rem 10rem 15rem 10rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 4rem;
}

.header__left-menu-item {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "TT Firs Neue";
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 1.3em;
  color: #BA975C;
}

.buy-form {
  padding: 6.8rem 7.4rem 3.8rem 4.8rem;
  border: 1px solid #DCB081;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.buy-form input {
  width: 100%;
  padding: 2.1rem 2.3rem;
  border: 1px solid #D7A250;
  border-radius: 64px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
  background: transparent;
  outline: none;
}

.buy-form input :focus {
  border: 1px solid #D7A250;
  color: #AFAFAF;
}

.buy-form input ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.buy-form input ::-moz-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.buy-form input :-ms-input-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.buy-form input ::-ms-input-placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.buy-form input ::placeholder {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3em;
  color: #AFAFAF;
}

.buy-form__label {
  margin-bottom: 4.2rem;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #BA975C;
}

.buy-form__terms {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #BA975C;
}

.buy-form__terms-row {
  margin-top: 6.3rem;
}

.main-btn {
  padding: 2.15rem;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.165em;
  color: #090909;
  background: #BA975C;
  border-color: #BA975C;
  border-radius: 64px;
  text-decoration: none;
  outline: none;
}

.main-btn:hover {
  color: #090909;
}

.buy-form__btn {
  width: 100%;
}

.buy-bank {
  height: 8.1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #DCB081;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.buy-bank img {
  width: 80%;
  height: 70%;
  -o-object-fit: contain;
  object-fit: contain;
}

.buy__list {
  list-style: none;
}

.buy__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 1.75em;
  text-transform: uppercase;
  background: -o-linear-gradient(359.35deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  background: linear-gradient(90.65deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy__list li::before {
  content: "";
  display: block;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #BA975C;
}

.radio__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
}

.radio__type-btn {
  padding: 10px 28px;
  text-decoration: none;
  background: transparent;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #AFAFAF;
  border: 1px solid #DBA544;
}

.radio__type-btn__active {
  color: #232323;
  background: -o-linear-gradient(359.35deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  background: linear-gradient(90.65deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
}

.progress__img {
  position: relative;
  width: 100%;
}

.progress__img::after {
  content: "";
  display: block;
  padding-top: 60%;
}

.progress__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.progress__label {
  margin-bottom: 5rem;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.1rem;
  text-transform: uppercase;
  background: -o-linear-gradient(359.35deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  background: linear-gradient(90.65deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.progress__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-top: 10rem;
  margin-bottom: 8rem;
  margin-inline: auto;
}

.progress-archive__swiper {
  height: 34.5rem;
  overflow: hidden;
  margin: 0 5rem;
  position: relative;
}

.progress-archive__swiper::after {
  content: "";
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 7.5rem;
  top: 0;
  right: 0;
  background: -o-linear-gradient(182.48deg, #020203 2.13%, rgba(2, 2, 3, 0) 103.17%);
  background: linear-gradient(267.52deg, #020203 2.13%, rgba(2, 2, 3, 0) 103.17%);
}

.progress-archive__swiper::before {
  content: "";
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 7.5rem;
  top: 0;
  left: 0;
  background: -o-linear-gradient(182.48deg, #020203 2.13%, rgba(2, 2, 3, 0) 103.17%);
  background: linear-gradient(267.52deg, #020203 2.13%, rgba(2, 2, 3, 0) 103.17%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.progress-archive__swiper-slide {
  position: relative;
}

.progress-archive__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.progress-archive__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.progress-archive__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.progress-archive__img-month {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.1rem;
  text-transform: uppercase;
  color: #E7E7E7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.swiper-slide-active .progress-archive__img::after {
  background: transparent;
}

.swiper-slide-active .progress-archive__img-month {
  color: transparent;
}

.progress-archive__scrollbar {
  margin-bottom: 10rem;
  margin-top: 5rem;
  background: #BA975C;
  height: 3px !important;
}

.progress-archive__scrollbar .swiper-scrollbar-drag {
  background: #BA975C;
  top: -1px;
  height: 5px;
}

.progress-archive__nav {
  position: absolute;
  top: calc(50% - 2.4rem);
  z-index: 5;
}

.progress-archive__nav img {
  width: 4.8rem;
  height: 4.8rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.progress-archive__prev {
  left: 0;
}

.progress-archive__next {
  right: 0;
}

.img-plus {
  position: absolute;
  cursor: pointer;
}

.img-plus::before {
  content: "";
  background-image: url("/img/img-plus.svg");
  background-size: cover;
  z-index: 6;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  top: 5%;
  display: block;
  pointer-events: none;
}

.plus-left::before {
  left: 5%;
}

.plus-right::before {
  right: 5%;
}

.bottom-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.main-arrow-down {
  margin-top: 11.1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-arrow-down .main-arrow-down__inner {
  bottom: -10rem;
  position: absolute;
}

.main-arrow-down img {
  cursor: pointer;
  width: 4.8rem;
  height: 4.8rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.main-arrow-down .caption {
  white-space: nowrap;
  position: absolute;
  right: 8.4rem;
  top: 25%;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.arrow-down__container {
  position: absolute;
  left: 0;
  bottom: 0;
}

.arrow-down {
  cursor: pointer;
}

.flats__label {
  margin-bottom: 5rem;
  font-weight: 300;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: #BA975C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flats__options {
  margin-bottom: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.8rem;
  -moz-column-gap: 1.8rem;
  column-gap: 1.8rem;
  row-gap: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flats__options__item .btn-options {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #BA975C;
  border-radius: 0;
  font-size: 2rem;
  line-height: 1.4em;
  text-align: center;
  background: transparent;
  color: #BA975C;
}

.flats__options__item input {
  display: none;
}

.flats__options__item input:checked + .btn-options {
  background-color: #BA975C;
  border: 1px solid #BA975C;
  color: #E7E7E7;
}

.options__label {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4em;
  background: -o-linear-gradient(359.35deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  background: linear-gradient(90.65deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*!Ion.RangeSlider, 2.3.1, Â© Denis Ineshin, 2010 - 2019, IonDen.com, Build date: 2019-12-19 16:51:02*/

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-handle {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}

.irs-handle.type_last {
  z-index: 2;
}

.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}

.irs-min {
  left: 0;
}

.irs-max {
  right: 0;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

.irs-grid-pol.small {
  height: 4px;
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.irs--flat {
  height: 40px;
}

.irs--flat.irs-with-grid {
  height: 60px;
}

.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}

.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}

.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}

.irs--flat .irs-grid-text {
  color: #999;
}

.irs--big {
  height: 55px;
}

.irs--big.irs-with-grid {
  height: 70px;
}

.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-50%, #ddd), color-stop(150%, white));
  background: -o-linear-gradient(top, #ddd -50%, white 150%);
  background: linear-gradient(to bottom, #ddd -50%, white 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}

.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(30%, #428bca), to(#b9d4ec));
  background: -o-linear-gradient(top, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}

.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66, 139, 202, 0.5);
}

.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #cbcfd5;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #B4B9BE), to(white));
  background: -o-linear-gradient(top, white 0%, #B4B9BE 30%, white 100%);
  background: linear-gradient(to bottom, white 0%, #B4B9BE 30%, white 100%);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
  border-radius: 30px;
}

.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0, 0, 0, 0.45);
  background-color: #939ba7;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #919BA5), to(white));
  background: -o-linear-gradient(top, white 0%, #919BA5 30%, white 100%);
  background: linear-gradient(to bottom, white 0%, #919BA5 30%, white 100%);
}

.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: white;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: white;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3071a9));
  background: -o-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}

.irs--big .irs-grid-pol {
  background-color: #428bca;
}

.irs--big .irs-grid-text {
  color: #428bca;
}

.irs--modern {
  height: 55px;
}

.irs--modern.irs-with-grid {
  height: 55px;
}

.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e4ea), to(#d1d6e0));
  background: -o-linear-gradient(top, #e0e4ea 0%, #d1d6e0 100%);
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}

.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: -webkit-gradient(linear, left top, left bottom, from(#20b426), to(#18891d));
  background: -o-linear-gradient(top, #20b426 0%, #18891d 100%);
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}

.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}

.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209, 214, 224, 0.5);
}

.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e9e6e6));
  background: -o-linear-gradient(top, white 0%, #e9e6e6 100%);
  background: linear-gradient(to bottom, white 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}

.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(30%, #919ba5), to(#ffffff));
  background: -o-linear-gradient(top, #ffffff 0%, #919ba5 30%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #919ba5 30%, #ffffff 100%);
}

.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}

.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}

.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: white;
  background-color: #d1d6e0;
  border-radius: 5px;
}

.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: white;
  border-radius: 5px;
}

.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}

.irs--modern .irs-grid {
  height: 25px;
}

.irs--modern .irs-grid-pol {
  background-color: #dedede;
}

.irs--modern .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}

.irs--sharp.irs-with-grid {
  height: 57px;
}

.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}

.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}

.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}

.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}

.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: black;
}

.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: black;
}

.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: white;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}

.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: white;
  border-radius: 2px;
}

.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-grid {
  height: 25px;
}

.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}

.irs--sharp .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--round {
  height: 50px;
}

.irs--round.irs-with-grid {
  height: 65px;
}

.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #dee4ec;
  border-radius: 4px;
}

.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #006cfa;
}

.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222, 228, 236, 0.5);
}

.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #006cfa;
  background-color: white;
  border-radius: 24px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: white;
  border-radius: 4px;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa;
}

.irs--round .irs-grid {
  height: 25px;
}

.irs--round .irs-grid-pol {
  background-color: #dedede;
}

.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--square {
  height: 50px;
}

.irs--square.irs-with-grid {
  height: 60px;
}

.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}

.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: black;
}

.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}

.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: black;
  color: white;
}

.irs--square .irs-grid {
  height: 25px;
}

.irs--square .irs-grid-pol {
  background-color: #dedede;
}

.irs--square .irs-grid-text {
  color: silver;
  font-size: 11px;
}

.irs--flat {
  height: 70px;
}

.irs--flat .irs-bar {
  top: 40px;
  background-color: #F67B29;
  height: 3px;
}

.irs--flat .irs-handle {
  height: 20px;
  width: 20px;
}

.irs--flat .irs-handle > i:first-child {
  top: 10px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F67B29;
  border-radius: 50%;
}

.irs--flat .irs-line {
  background-color: transparent;
  top: 0;
  height: 0;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  border-top-color: transparent;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.4em;
  color: #BA975C;
  background-color: transparent;
}

.irs--flat .irs-bar {
  background-color: #BA975C;
  height: 1px;
}

.irs--flat .irs-handle > i:first-child {
  top: 9px;
  background-color: #BA975C;
  cursor: pointer;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #BA975C;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.4em;
  color: #BA975C;
  background-color: transparent;
}

.options__result {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5em;
  background: -o-linear-gradient(359.35deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  background: linear-gradient(90.65deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.flats__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3rem;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.flats__item {
  padding: 2.5rem 1.2rem;
  border: 1px solid #BA975C;
}

.flats__item-label {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 0.995em;
  text-transform: uppercase;
  color: #BA975C;
}

.flats__item-img {
  position: relative;
  width: 100%;
}

.flats__item-img::after {
  content: "";
  display: block;
  padding-top: 120%;
}

.flats__item-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.flats__item-desc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4em;
  background: -o-linear-gradient(359.35deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  background: linear-gradient(90.65deg, #BA975C 0.56%, #F6E7CC 49.96%, #D7A250 98.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.flats__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .form-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10rem 0 8.5rem;
  }

  .form-inner form {
    padding-top: 6rem;
  }

  .main-form__text {
    font-size: 2rem;
  }

  .main-form__terms {
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  .flats__row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 960px) {
  .flats__row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .form {
    width: 100% !important;
    padding: 20px;
  }

  .form-inner {
    padding: 0 8rem 0 7.5rem;
  }

  .form-inner form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 5rem;
    font-family: "TT Firs Neue";
  }

  .main-form__label {
    font-size: 6rem;
  }

  .main-form__text {
    font-size: 2.5rem;
  }

  .main-form__terms {
    font-size: 2rem;
  }

  .main-form__input {
    padding: 2.5rem 2.9rem;
  }

  .main-form__input::-webkit-input-placeholder {
    font-size: 3rem;
  }

  .main-form__input::-moz-placeholder {
    font-size: 3rem;
  }

  .main-form__input:-ms-input-placeholder {
    font-size: 3rem;
  }

  .main-form__input::-ms-input-placeholder {
    font-size: 3rem;
  }

  .main-form__input::placeholder {
    font-size: 3rem;
  }

  .main-form__btn {
    padding: 3rem 0;
    font-size: 2.3rem;
  }

  .header__left-menu__opened {
    width: 100%;
  }

  .buy-form input {
    margin-bottom: 3rem;
  }

  .buy-form__terms-row {
    margin-top: 0;
  }

  .buy-form__btn {
    margin-bottom: 3rem;
  }

  .progress__img {
    margin-bottom: 6.33rem;
  }
}

@media (max-width: 576px) {
  .form-inner form {
    padding-top: 7rem;
  }

  .main-form__label {
    font-size: 5rem;
  }

  .main-form__input {
    padding: 2.3rem 2.5rem;
  }

  .main-form__input::-webkit-input-placeholder {
    font-size: 2.5rem;
  }

  .main-form__input::-moz-placeholder {
    font-size: 2.5rem;
  }

  .main-form__input:-ms-input-placeholder {
    font-size: 2.5rem;
  }

  .main-form__input::-ms-input-placeholder {
    font-size: 2.5rem;
  }

  .main-form__input::placeholder {
    font-size: 2.5rem;
  }

  .main-form__btn {
    padding: 2.5rem 0;
    font-size: 2.1rem;
  }

  .flats__row {
    grid-template-columns: repeat(2, 1fr);
  }
}